.adidas-logo {
    width: 200px;
    height: 150px;
}

.nike-logo {
    width: 300px;
    height: 100px;
}

.puma-logo {
    width: 250px;
    height: 200px;
}

.container-logo {
    cursor: pointer;
    width: 300px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    transition: 0.5s;
}

.container-logo:hover {
    transition: 0.5s;
    border-color: hsl(26, 100%, 55%);
    border-style: solid;
    border-radius: 20px;
}

@media screen and (max-with: 500px) {
    .container-logo {
        width: 300px;
        height: 220px;
    }
}