<div class="d-flex justify-content-center mt-5">
    <button  [routerLink]="['adidas']" mat-raised-button class="d-flex align-items-center container-logo justify-content-center mx-4 mt-3">
        <img class="adidas-logo" [routerLink]="['adidas']" src="../../../assets/images/adidas-logo.png" alt="adidas-logo">
    </button>
    <button [routerLink]="['nike']" mat-raised-button  class="d-flex align-items-center container-logo justify-content-center mx-4 mt-3">
        <img class="nike-logo" src="../../../assets/images/nike-logo.png" alt="nike-logo">
    </button>
    <button [routerLink]="['puma']" mat-raised-button  class="d-flex align-items-center container-logo justify-content-center mx-4 mt-3">
        <img class="puma-logo" src="../../../assets/images/puma-logo.png" alt="puma-logo">
    </button>
</div>