<div class=" mt-2">
  <a class="ms-3" (click)="onBack()">Return to the previous page</a>
  <div class="d-flex justify-content-center mt-4">
    <div>
      <div class="carousel-container">
        <div id="carousel" class="carousel carousel-dark slide mb-4" data-bs-ride="carousel">
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item" [ngClass]="mainImage === 1 ? 'active' : ''" (click)="openDialog()">
              <img [src]="getMainImage(1)" alt="iamge1" class="d-block image-cs" style="width:100%">
            </div>
            <div class="carousel-item" [ngClass]="mainImage === 2 ? 'active' : ''" (click)="openDialog()">
              <img [src]="getMainImage(2)" alt="image2" class="d-block image-cs" style="width:100%">
            </div>
            <div class="carousel-item" [ngClass]="mainImage === 3 ? 'active' : ''" (click)="openDialog()">
              <img [src]="getMainImage(3)" alt="image3" class="d-block image-cs" style="width:100%">
            </div>
            <div class="carousel-item" [ngClass]="mainImage === 4 ? 'active' : ''" (click)="openDialog()">
              <img [src]="getMainImage(4)" alt="image4" class="d-block image-cs" style="width:100%">
            </div>
          </div>
  
          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
      <div class="images-container d-flex justify-content-between">
        <button mat-raised-button class="d-flex justify-content-between" (click)="onSelectImage(1)">
          <img class="secundary-image" [src]="getSecundaryImage(1)" alt="image1">
        </button>
        <button mat-raised-button class="d-flex justify-content-between" (click)="onSelectImage(2)">
          <img class="secundary-image" [src]="getSecundaryImage(2)" alt="image2">
        </button>
        <button mat-raised-button class="d-flex justify-content-between" (click)="onSelectImage(3)">
          <img class="secundary-image" [src]="getSecundaryImage(3)" alt="image3">
        </button>
        <button mat-raised-button class="d-flex justify-content-between" (click)="onSelectImage(4)">
          <img class="secundary-image" [src]="getSecundaryImage(4)" alt="image4">
        </button>
      </div>
    </div>
    <div class="description-container ms-5 mt-5 d-flex flex-column">
      <h3 class="mb-3" style="color: hsl(26, 100%, 55%);">{{dataSource[0].brand | uppercase}}</h3>
      <h1 class="mb-2">{{dataSource[0].name}}</h1>
      <p class="mb-4">
        {{dataSource[0].description}}
      </p>
      <h2 class="mb-4">{{'$ '+dataSource[0].price}}</h2>
  
      <div class="d-flex mb-3">
        <button
          style="width: 45px; height: 45px; border-radius: 10px 0px 0px 10px; min-width: 45px; font-size: 30px; color: hsl(26, 100%, 55%);"
          mat-raised-button (click)="onRes()">-</button>
        <h3 style="width: 45px; height: 45px; min-width: 45px;"
          class="d-flex align-items-center justify-content-center counter">{{counter}}</h3>
        <button
          style="width: 45px; height: 45px; border-radius: 0px 10px 10px 0px; min-width: 45px; font-size: 20px; color: hsl(26, 100%, 55%);"
          mat-raised-button (click)="onSum()">+</button>
        <button mat-raised-button class="btn-cart ms-5" (click)="onAddToCart()">
          <mat-icon class="me-3">shopping_cart</mat-icon>
          Add to cart
        </button>
      </div>
    </div>
  </div>

</div>