<div class="container d-flex toolbar-container align-items-center">
    <span class="col-2 tittle">sneakers</span>
    <div class="d-flex col-8 text-center options-container">
        <div class="me-5 option" routerLink="collections" [ngClass]="options[0] ? 'active' : ''" (click)="activeOption(0)">Collections</div>
        <div class="me-5 option" routerLink="men" [ngClass]="options[1] ? 'active' : ''" (click)="activeOption(1)">Men</div>
        <div class="me-5 option" routerLink="women" [ngClass]="options[2] ? 'active' : ''" (click)="activeOption(2)">Women</div>
        <div class="me-5 option" routerLink="about" [ngClass]="options[3] ? 'active' : ''" (click)="activeOption(3)">Aboout</div>
        <div class="me-5 option" routerLink="contact" [ngClass]="options[4] ? 'active' : ''" (click)="activeOption(4)">Contact</div>
    </div>

    <div class="d-flex col-2 justify-content-end align-items-center">
        <button matTooltip="Shopping cart" mat-mini-fab class="me-5 btn-bg">
            <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
                    fill="#69707D" fill-rule="nonzero" />
            </svg>
        </button>
        <button matTooltip="Profile"  mat-fab class="btn-bg">
            <img class="profile-image" src="../../../assets/images/image-avatar.png" alt="profile-image">
        </button>
    </div>
</div>